/* CSS Style Sheet for Portfolio and contact*/

  /* Background Image*/

    body { 
      background-image: url("../images/monstera.png");  
  } 
  
p {
  text-align: center;
}

  /* Size for h1 - Navbar */
  h1 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: silver;
  }
  
  label {
    color: silver;
  }

  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea 
  {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  

  /* Style the submit button with a specific background color etc */
 .btn
  {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  /* When moving the mouse over the submit button, add a darker green color */
  .btn:hover 
  {
    background-color: darkslategray;
  }
  

  /* Add a background color and some padding around the form */
  .container 
  {
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 20px;
  }


  /* Colour and Padding for h2 */
  h2 
  {
    color: silver ;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
  }


  /* Background and Style for wrapper*/
  .wrapper
  {
    background-color: rgba(66, 74, 77, 0.9);
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px; 
    height: auto; 
    width: 100%;
  }


    /* Footer Style and Colour*/
    .page-footer 
    {
      background-color: darkslategray;
      color: #fff;
      text-align-last: center;
      font-size: 20px;
      position: fixed;
      bottom: 0;
      font-family: 'Raleway', sans-serif;
 }


   /* Padding for form*/
  .form
  {
    padding-bottom: 20px;
  }



  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  

  
  .flip-card-back {
    background-color: darkslategrey;
    color: silver;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }